*{
    margin: 0%;
    padding: 0%;
    list-style:none;
    text-decoration: none;
}
body{
    min-width: 300px;
    min-height: 400px;
}
nav{
    min-height: 70px;
    background-color: blue;
    display: block;
}
nav a{
    text-decoration: none;
    color: white;
}